UserSettings
Library
Logs
obj
Temp
Assets/Gen
Assets/XLua
Assets/Plugins
Assets/ThirdParty
Assets/LuaProfiler
TsProj/node_modules
TsProj/output
Assets/Script/Test/LuaScripts/Game/
Assets/Script/Test/LuaScripts/LuaFramework/
.vs
.vscode
.vsconfig
*.suo
*.sln
*.csproj
com.unity*
